/* Small devices */
@media screen and (max-width: 576px) {
    .hide-on-mobile {
        display: none !important;
    }

    .hide-on-pc {
        display: block !important;
    }

    .hero-area .flex {
        flex-direction: column-reverse;
    }

    img {
        max-width: 100%;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 14px;
    }

    button {
        border: none;
    }

    .btn {
        font-size: 16px;
    }

    /*navigation*/
    .navigation {
        border-bottom: 0.5px solid #FEA301;
    }

    .hamburger i {
        font-size: 20px;
    }

    /*Hero Area*/
    .hero-content {
        text-align: center;
    }

    /*Curriculum*/
    .curriculum {
        padding: 40px 0;
    }

    .curriculum-cards {
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
    }

    /*Our Stories*/
    .stories {
        padding: 40px 0;
    }

    .our-stories {
        padding: 20px 0;
    }

    .stories-right {
        width: 100%;
    }

    .story-card-content {
        padding: 20px;
    }

    .story-card .date-meta {
        top: -22px;
        padding: 10px 20px;
        font-size: 9px;
    }

    .stories-right h3 {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
}

/* Tablet devices */
@media screen and (max-width: 768px) {}