/*
Theme: Kids School
Author: Milon
*/

/*Shared Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #FEA301;
    --sky-blue: #01ACFD;
    --aqua-blue: #05D4DF;
    --purple: #5D58EF;
    --black: #111;
}

.orange {
    color: var(--orange)
}

.sky-blue {
    color: var(--sky-blue);
}

body {
    color: var(--black);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: Quicksand;
}

.btn {
    padding: 10px 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border-radius: 12px;
    border: 1px solid;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.hide-on-pc {
    display: none;
}

/*Header Navigation*/
.navigation {
    padding: 20px 0;
}

.logo a span {
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.header-menu {
    list-style: none;
    gap: 32px;
}

.header-menu li a {
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

.header-menu li:first-child a {
    color: var(--orange);
}

.header-menu li:nth-child(2) a {
    color: var(--sky-blue);
}

.header-menu li:nth-child(3) a {
    color: var(--aqua-blue);
}

.header-menu li:last-child a {
    color: var(--purple);
}

.header-menu li:hover a {
    color: var(--orange);
}

nav .contact {
    background-color: var(--orange);
    color: white;
    border-color: var(--orange);
}

nav .contact:hover {
    background-color: white;
    color: var(--orange);
}

/*Hero Section*/
.hero-area .flex {
    gap: 50px;
}

.hero-content h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 24px;
}

.hero-content p {
    margin-bottom: 24px;
}

.hero-content .btn {
    background-color: var(--black);
    color: white;
    border-color: var(--black);
}

.hero-content .btn:hover {
    background-color: transparent;
    color: var(--black);
}